.skills-section{
    width: 100%;
    padding: 2em 5em 2em 3em;
    height: 50vh;
}

h2{
    font-size: 1.8rem;
}
p{
    font-family: "Jost";
    font-weight: 300;
}

.information-section{
    padding: 2em 4em 2em 4em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.left-section{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.right-section{
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 15%;
}

.right-section > p{
   height: 30px;
}

button {
    border: none;
    background-color: var(--background-color);
    border-radius: 8px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    transition: ease-out 0.3s;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    font-family: "Jost";
}

button:hover{
    cursor: pointer;
    background-color: var(--white);
    color: var(--background-color);
}

button:focus{
    background-color: var(--white);
    color: var(--background-color);
    outline: 0;
}

.btn-section{
    display: flex;
    gap: 1em;
}

.skills-header{
    font-weight: 600;
}

 /* Laptop Screens */
 @media only screen and (max-width: 1550px){
    .right-section{
        display: flex;
        flex-direction: column;
        gap: 3em;
        width: 15%;
        margin-right: 3em;
    }
    .skills-section{
        margin-bottom: 5em;
    }
} 

@media only screen and (max-width: 815px){
    .information-section{
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
    }
    
    .right-section{
        width: 300px;
    }
    
    .right-section > p{
        width: 200px;
    }
}

@media only screen and (max-width: 450px) {
    .information-section{
        display: flex;
        flex-direction: column;
        gap: 5em;
        justify-content: center;
        align-items: center;
    }

    .left-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .left-section > p{
        width: 200px;
    }

    .right-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
       margin-right: 0em;
    }
  }
