.contact-section{
    padding: 2em 5em 2em 3em;
}

.contactH1{
    margin-bottom: 2em;
}

.inner-contact-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 1em 0em 3em;
}

h3{
    font-family: "Raleway";
    font-weight: 500;
    font-size: 2.5rem;
}

form{
    display: flex;
    flex-direction: column;
}

.form-first-row{
    display: flex;
    gap: 1em;
}

.form-first-row > input {
    border:none;
    border-bottom: 2px solid var(--grey);
    background-color: var(--background-color);
    padding: 1em 1em 0.5em 0.1em;
    margin-bottom: 1em;
    text-align: start;
    font-family: "Raleway";
    font-weight: 600;
}

input[type="email"]{
    border:none;
    border-bottom: 2px solid var(--grey);
    background-color: var(--background-color);
    padding: 1em 1em 0.5em 0.1em;
    margin-bottom: 1em;
    text-align: start;
    font-family: "Raleway";
    font-weight: 600;
}

textarea{
    border:none;
    border-bottom: 2px solid var(--grey);
    background-color: var(--background-color);
    padding: 1em 1em 0.5em 0.1em;
    margin-bottom: 1em;
    text-align: bottom;
    font-family: "Raleway";
    font-weight: 600;
}
